[Unit]
Description=Daemon for the USB switch.
After=multi-user.target

[Service]
ExecStart=python switch_daemon_main.py --log_dir=/home/lkary/var/log
WorkingDirectory=/home/lkary/src/usb-switch/
StandardOutput=inherit
StandardError=inherit
Restart=on-abort
User=lkary

[Install]
WantedBy=multi-user.target
